.casilla{

    width:120px;
    height: 120px;
    font-size: 80px;
    font-weight: bold;    
    text-align: center;
    font-family: sans-serif;
    background-color: mistyrose;
 
}

#tablero{

    width: 40%;
    margin: 0 auto;
    border: darkblue 5px;

}
